In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("/Users/unnatir/Desktop/ML/Food_Wastage_Prediction/data/raw/food_wastage_data.csv")
df.head()

,Type of Food,Number of Guests,Event Type,Quantity of Food,Storage Conditions,Purchase History,Seasonality,Preparation Method,Geographical Location,Pricing,Wastage Food Amount
0,Meat,310,Corporate,450,Refrigerated,Regular,All Seasons,Buffet,Urban,Low,25
1,Meat,400,Birthday,500,Room Temperature,Regular,Winter,Buffet,Suburban,High,40
2,Vegetables,302,Birthday,371,Refrigerated,Regular,Summer,Buffet,Suburban,Low,27
3,Meat,491,Birthday,497,Refrigerated,Regular,All Seasons,Finger Food,Rural,High,32
4,Meat,300,Corporate,400,Refrigerated,Regular,Winter,Finger Food,Urban,Moderate,25

In [8]:
df.shape

(1782, 11)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1782 entries, 0 to 1781
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Type of Food           1782 non-null   object
 1   Number of Guests       1782 non-null   int64
 2   Event Type             1782 non-null   object
 3   Quantity of Food       1782 non-null   int64
 4   Storage Conditions     1782 non-null   object
 5   Purchase History       1782 non-null   object
 6   Seasonality            1782 non-null   object
 7   Preparation Method     1782 non-null   object
 8   Geographical Location  1782 non-null   object
 9   Pricing                1782 non-null   object
 10  Wastage Food Amount    1782 non-null   int64
dtypes: int64(3), object(8)
memory usage: 153.3+ KB

In [10]:
df.columns

Index(['Type of Food', 'Number of Guests', 'Event Type', 'Quantity of Food',
       'Storage Conditions', 'Purchase History', 'Seasonality',
       'Preparation Method', 'Geographical Location', 'Pricing',
       'Wastage Food Amount'],
      dtype='object')

In [11]:
df['Event Type'].unique()

array(['Corporate', 'Birthday', 'Wedding', 'Social Gathering'],
      dtype=object)

### Column Description

- **Type of Food**: Category of food served by the restaurant  
- **Number of Guests**: Number of people attending  
- **Quantity Prepared**: Total amount of food prepared  
- **Quantity Wasted**: Amount of food thrown away  
- **Event Type**: Type of day (Normal / Event)

### Target Variable

The target variable for prediction is **Quantity Wasted**, as it directly represents food loss and is the key quantity the system aims to minimize.