In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/Users/unnatir/Desktop/ML/Food_Wastage_Prediction/data/raw/food_wastage_data.csv")

In [3]:
df=df.rename(columns={
    'Type of Food':'food_type',
    'Number of Guests':'num_guests',
    'Quantity of Food':'quantity_prepared',
    'Wastage Food Amount':'quantity_wasted',
    'Event Type':'event_type'
})
df.head()

,food_type,num_guests,event_type,quantity_prepared,Storage Conditions,Purchase History,Seasonality,Preparation Method,Geographical Location,Pricing,quantity_wasted
0,Meat,310,Corporate,450,Refrigerated,Regular,All Seasons,Buffet,Urban,Low,25
1,Meat,400,Birthday,500,Room Temperature,Regular,Winter,Buffet,Suburban,High,40
2,Vegetables,302,Birthday,371,Refrigerated,Regular,Summer,Buffet,Suburban,Low,27
3,Meat,491,Birthday,497,Refrigerated,Regular,All Seasons,Finger Food,Rural,High,32
4,Meat,300,Corporate,400,Refrigerated,Regular,Winter,Finger Food,Urban,Moderate,25

In [4]:
df=df[df['quantity_prepared']>0]
df['waste_ratio']=df['quantity_wasted']/df['quantity_prepared']
df.head()

,food_type,num_guests,event_type,quantity_prepared,Storage Conditions,Purchase History,Seasonality,Preparation Method,Geographical Location,Pricing,quantity_wasted,waste_ratio
0,Meat,310,Corporate,450,Refrigerated,Regular,All Seasons,Buffet,Urban,Low,25,0.055556
1,Meat,400,Birthday,500,Room Temperature,Regular,Winter,Buffet,Suburban,High,40,0.080000
2,Vegetables,302,Birthday,371,Refrigerated,Regular,Summer,Buffet,Suburban,Low,27,0.072776
3,Meat,491,Birthday,497,Refrigerated,Regular,All Seasons,Finger Food,Rural,High,32,0.064386
4,Meat,300,Corporate,400,Refrigerated,Regular,Winter,Finger Food,Urban,Moderate,25,0.062500

In [6]:
df['waste_per_guest']=df['quantity_wasted']/df['num_guests']

In [7]:
df_encoded=pd.get_dummies(
    df,
    columns=['food_type','event_type'],
    drop_first=True
)
df_encoded.head()

,num_guests,quantity_prepared,Storage Conditions,Purchase History,Seasonality,Preparation Method,Geographical Location,Pricing,quantity_wasted,waste_ratio,waste_per_guest,food_type_Dairy Products,food_type_Fruits,food_type_Meat,food_type_Vegetables,event_type_Corporate,event_type_Social Gathering,event_type_Wedding
0,310,450,Refrigerated,Regular,All Seasons,Buffet,Urban,Low,25,0.055556,0.080645,False,False,True,False,True,False,False
1,400,500,Room Temperature,Regular,Winter,Buffet,Suburban,High,40,0.080000,0.100000,False,False,True,False,False,False,False
2,302,371,Refrigerated,Regular,Summer,Buffet,Suburban,Low,27,0.072776,0.089404,False,False,False,True,False,False,False
3,491,497,Refrigerated,Regular,All Seasons,Finger Food,Rural,High,32,0.064386,0.065173,False,False,True,False,False,False,False
4,300,400,Refrigerated,Regular,Winter,Finger Food,Urban,Moderate,25,0.062500,0.083333,False,False,True,False,True,False,False

In [8]:
y=df_encoded['quantity_wasted']
X=df_encoded.drop(columns=['quantity_wasted'])

In [9]:
df_encoded.to_csv("/Users/unnatir/Desktop/ML/Food_Wastage_Prediction/data/processed/food_waste_clean.csv")